<div class="header">
  <div class="budget">
    <div class="budget_title">
      {{ title }}
    </div>
    <div class="budget_value">{{ totalBudget }}</div>

    <div class="budget_entry cleanstyles">
      <div class="budget_entry--text">Entries</div>
      <div class="right">
        <div class="budget_entry--value">+ {{ totalEntries }}</div>
        <div class="budget_entry--percentage">&nbsp;</div>
      </div>
    </div>

    <div class="budget_expense cleanstyles">
      <div class="budget_expense--text">Expenses</div>
      <div class="right">
        <div class="budget_expense--value">{{ totalExpenses }}</div>
        <div class="budget_expense--percentage">&nbsp;</div>
      </div>
    </div>
  </div>
</div>
