<form>
  <div class="add">
    <div class="add_container">
      <select name="entriesNExpenses" [(ngModel)]="sign" class="add_type">
        <option value="+" selected>+</option>
        <option value="-">-</option>
      </select>
      <input
        class="add_description"
        type="text"
        placeholder="Add Description"
        name="description"
        [(ngModel)]="description"
      />
      <input
        class="add_value"
        type="number"
        placeholder="Value"
        name="qty"
        [(ngModel)]="qty"
      />
      <button
        class="add_btn cleanstyles"
        type="submit"
        (click)="onAddEntryOrExpense()"
      >
        <i
          class="iconify"
          data-icon="ion-ios-checkmark-outline"
          data-inline="false"
        ></i>
      </button>
    </div>
  </div>
</form>
