<div class="expense">
  <h2 class="expense_title">Expense</h2>
  <div *ngFor="let expense of expenses" class="element cleanstyles">
    <div class="element_description">{{ expense.description }}</div>
    <div class="right cleanstyles">
      <div class="element_value">- {{ expense.value }}</div>
      <div class="element_percentage">{{ calcPercentage(expense) }}%</div>
      <div class="element_delete">
        <button class="element_delete--btn" (click)="deleteRecord(expense)">
          <i
            class="iconify"
            data-icon="ion-ios-close-circle-outline"
            data-inline="true"
          ></i>
        </button>
      </div>
    </div>
  </div>
</div>
